<!DOCTYPE html>
<html>

    <head>
        <link rel = "stylesheet" href = "/css/styles.css"></link>
        <title>About Us</title>


    </head>
    
    <script></script>
    <body>


            <div class="main-content">
                {{>header}}
                <p>This was created by Harish. It uses data from mapbox and darksky.net</p>
        <h1>I'm {{name}} and I'm the creator</h1>
        <img class = "portrait" src="https://i.picsum.photos/id/549/200/300.jpg">


            </div>

        
        {{>footer}}
    </body>
</html>