<!DOCTYPE html>
<html>
    <head>
      <link rel = "stylesheet" href = "/css/styles.css"></link>
      <title>Help</title>

    </head>
    
    <script></script>
    <body>

      <div class="main-content">
        {{>header}}
      <p>{{help}}</p>
      <p>lol</p>


      </div>

        

    {{>footer}}
    </body>
</html>